body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.navbar-brand {
    padding-left: 0;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square-won {
    background: yellow;
    border: 1px dotted #111;
    color: black;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.game-info {
    margin-left: 20px;
  }

.game-info > ol {
  margin: 5px;
}

.appContainer {

}

p {
  display: inline;
}

.players {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin: 24px;
}

.change-player-name {
  margin: 12px;
}
